extends layout

block content
    #cv
      .detalls
        #foto_curriculum
          img(src='images/foto_curriculum.jpg' alt='David González Vila')
        #dades_personals
          h1 David Gonzalez Vila
          h2 Programador
        #detalls_contacte
          ul
            li
              | e-mail: 
              a(href='mailto:davidgonzalezvila99@gmail.com') davidvila99@gmail.com
            li contacte: 640507051
            li residencia: C/ Badalona 2 bj 2a
        .clear
      #cos_curriculum
        section
          article
            .sectionTitol
              h1 Perfil personal
            .sectionContingut
              p
                | Capacitat de 
                span.sobresaltat realitzar activitats
                |  amb gran 
                span.sobresaltat precisi&oacute;
                |  i gran 
                span.sobresaltat calitat
                | . 
                span.sobresaltat Bona condici&oacute; f&iacute;sica
                |  per a les tasques que ho requereixin. 
                span.sobresaltat Facilitat
                |  a l&apos;hora d&apos;
                span.sobresaltat aprendre nous programes
                |  i 
                span.sobresaltat noves tasques.
          .clear
        section
          .sectionTitol
            h1 Formaci&oacute; acad&egrave;mica
          .sectionContingut
            article
              h2 Formaci&oacute; professional grau superior
              p.detallat Escola pia Santa Anna (Matar&oacute;) - Actualment en curs
              p.graus
                a(href='https://ioc.xtec.cat/educacio/cfgs-dam') Desenvolupament d&apos;aplicacions multiplataforma
            article
              h2 Formaci&oacute; professional grau mig
              p.detallat Escola Pia Santa Anna (matar&oacute;) 2016-2018
              p.graus
                a(href='https://ioc.xtec.cat/educacio/fp-smx') Sistemes microinform&agrave;tics i xarxes
            article
              h2 Educaci&oacute; secund&agrave;ria obligat&ograve;ria (ESO)
              p.detallat INS Argentona 2011-2015
            br
          .clear
        section
          .sectionTitol
            h1 Idiomes
          .sectionContingut
            table
              tr.top_taula
                td Idioma
                td Parlat
                td Escrit
                td Ent&egrave;s
                td Matern
              tr
                td
                  | Catal&agrave; 
                  a(href='https://ca.wikipedia.org/wiki/Català')
                    img.foto_idioma(src='images/catala.jpg' align='right')
                td Molt alt
                td Molt alt
                td Molt alt
                td S&iacute;
              tr
                td
                  | Castell&agrave; 
                  a(href='https://ca.wikipedia.org/wiki/Castellà')
                    img.foto_idioma(src='images/castella.jpg' align='right')
                td Molt alt
                td Molt alt
                td Molt alt
                td S&iacute;
              tr
                td
                  | Angl&egrave;s 
                  a(href='https://ca.wikipedia.org/wiki/Anglès')
                    img.foto_idioma(src='images/angles.jpg' align='right')
                td Mig
                td Mig
                td Alt
                td No
          .clear
        section
          .sectionTitol
            h1 Experi&egrave;ncia laboral
          .sectionContingut
            article
              h2
                a(href='http://www.epiagranollers.cat') Pr&agrave;ctiques Escola Pia Granollers (350h)
              p.graus Manteniment d&apos;equips inform&agrave;tics i gesti&oacute; de xarxes
          .clear
        section
          article
            .sectionTitol
              h1 Coneixements inform&agrave;tics
            .sectionContingut
              ul
                li
                  span.sobresaltat Usuari expert
                  |  de 
                  span.sobresaltat Windows 10
                  |  i totes les versions anteriors.
                li
                  | &Uacute;s habitual d&apos;
                  span.sobresaltat internet
                  | , 
                  span.sobresaltat correu electr&ograve;nic
                  |  i 
                  span.sobresaltat recerca d&apos;informaci&oacute;
                  | .
                li
                  span.sobresaltat T&egrave;cnic
                  |  en 
                  span.sobresaltat muntatge i manteniment
                  |  d&apos;equips inform&agrave;tics.
                li Coneixements de: formateig d&apos;ordinadors i clonaci&oacute; de discs durs.
                li
                  span.sobresaltat Usuari avan&ccedil;at
                  |  de 
                  span.sobresaltat Linux i Linux server
                  | .
                li
                  span.sobresaltat Alt nivell
                  |  en totes les aplicacions ofim&agrave;tiques de 
                  span.sobresaltat MS Office
                  | .
          .clear
