
@{
    ViewData["Title"] = "DiagonalTable";
}

<h2>Table de valores diagonal:</h2>
<br />
<table>
    @for (int i = 0; i < ViewBag.Size; i++)
        {
            
            <tr>
                @for (int j = 0; j < ViewBag.Size; j++)
                {
                    <td>
                        <p>@ViewBag.Table[i, j]</p>
                    </td>
                }
            </tr>
        }

    @*<p>@ViewBag.Table[2, 2]</p>*@
</table>